.detalleViaje {

  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  margin: 50px 20px;
}

.viaje-header {
  text-align: center;
  padding-bottom: 10px;

}

.viaje-header img {
  width: 130px;
}

.viajeInfo {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  text-align: center;

  padding-top: 18px;
  padding-bottom: 13px;
}

.viajeInfo p {
  font-size: 13px;
  margin-top: 3px;
}

.detalleViaje h6 {
  font-size: 10px;
  margin-top: 4px;
}

.detalleViaje h6 span {
  background-color: #000000;
  padding: 6px;
  color: white;
  border-radius: 50px;
}

.viajeInfo img {
  width: 8px;
}

.precio {
  font-family: 50px !important;
}

.precios {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex; /* Cambiado a flex para control total */
  justify-content: center; /* Centrar horizontalmente */
  gap: 30px; /* Añade espacio entre los contenedores */
}

.precio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.precioDetalle {
  margin-top: 10px;
  text-align: center;
}

.notaBaja h2 {
  text-align: center;
  font-size: 14px;
}

h3 span {
  font-size: 12px;
  color: gray;
}

.precioDetalle b {
  font-size: 26px;
  color: black;
}

.precioDetalle h3 {
  font-size: 12px;
  color: gray;
}

.whatsapp-btn {
  width: 100%;
  padding: 1px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid rgb(226, 226, 226);
  margin-bottom: 15px;
}

.whatsapp-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.whatsapp-btn img {
  width: 38px;
  margin-bottom: 3px;
  padding: 1px;
  margin-right: 5px;
}


@media (min-width: 995px) {
  .detalleViaje {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
  }

  .precios {
    display: grid;
    grid-template-columns: auto auto;
  }

  .viajeInfo {
    border: none;
    margin-top: 32px;
  }

  .viaje-header {
    border: none;
  }

  .desktopbtn {
    margin-top: 22px;
  }

  .viaje-header {
    margin-top: 34px;
  }
}